:root {
  --primary-color: #484848;
  --secondary-color: #000000;
  --tertiary-color: gainsboro;
}

body {
  background-color: var(--primary-color);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #f2f2f2;
  box-shadow: 5px 5px 6px var(--secondary-color);
  border-radius: 15px;
}

.title {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tipsForm {
  padding-left: 20px;
}

.formInput,
.formSelect {
  background-color: white;
  width: 50%;
  padding: 5px;
}

.formInput:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}

button {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

#tipTotal {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}